{% include 'header.html' %}

<div class="bg-image img-fluid" style="background-image: url('static/coffee-home.jpg'); height: 90vh;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <h1 class="title">The Coffee Spot</h1>

    </div>
</div>
<div class="row justify-content-center">
    <a type='button' href={{url_for('add')}} class="col-lg-3 col-sm-12 btn btn-dark">Add Cafe</a>
    <a type='button' href={{url_for('cafe_list')}} class="col-lg-3 col-sm-12 btn btn-light">See Cafes</a>
</div>
</body>
</html>